[submodule "zsh/oh-my-zsh/themes/spaceship-prompt"]
        path = zsh/oh-my-zsh/themes/spaceship-prompt
        url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "zsh/oh-my-zsh/plugins/zsh-autosuggestions"]
        path = zsh/oh-my-zsh/plugins/zsh-autosuggestions
        url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/oh-my-zsh/plugins/zsh-syntax-highlighting"]
        path = zsh/oh-my-zsh/plugins/zsh-syntax-highlighting
        url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "polybar/modules/polybar-pulseaudio-control"]
        path = polybar/modules/polybar-pulseaudio-control
        url = git@github.com:marioortizmanero/polybar-pulseaudio-control.git
