[submodule "polybar/modules/polybar-spotify"]
	path = polybar/modules/polybar-spotify
	url = git@github.com:Jvanrhijn/polybar-spotify.git
[submodule "oh-my-zsh/.oh-my-zsh/themes/spaceship-prompt"]
	path = oh-my-zsh/.oh-my-zsh/themes/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
